doctype html
html
  head
    title WeLugg_AboutUs
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="./aboutus.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.cdnfonts.com/css/hind-kochi" rel="stylesheet")

  body
    #WeLugg_main
      .main_word1 Convenient, Quick, and Secure
      .main_word2 Collaborate on Luggage to Shop Together
    
    #WeLugg_title
      #logo
      div
        span.title_word1 We
        span.title_word2 Lugg

    #WeLugg_aboutCompany
      .aboutCompany_word1 About Company
      .aboutCompany_word2 Services
      #aboutCompany_box
        #image_left
        #image_mid
        #image_right
      .aboutCompany_word3
        p WeLugg is an online platform centered around sharing luggage
        p where everyone can easily and safely conduct purchasing transactions through our platform
        p allowing you to buy gifts and delicacies from around the world without leaving home.
      .aboutCompany_word4
        p WeLugg 是一個以行李共享為主的線上平台
        p 透過我們的平台，您可以輕鬆且安全地進行代購交易
        p 不必出門即可購買世界各地的禮品和美食。

    #WeLugg_aboutUs
      .aboutUs_word1 About Us
      .aboutUs_word2 Team Members
      #aboutUs_box
        #image_member1
        #image_member2
        #image_member3
        #image_member4
        #image_member5

    #WeLugg_person1
      .person_word1 Kitson Lam
      .person_word2 Designer
      .person_word3 Design is not just what it looks like and feels like.
      .person_word4 Design is how it works.
      #image4

      .person_line
      .person_box
        .person_package
          #illustration1
          .illustration_word 香港,九龍
        .person_package
          #illustration2
          .illustration_word 工業設計系 - 大學部三年級
        .person_package
          #illustration3
          .illustration_word 4月7日

      .person_word5 Introduction
      .person_word6
        p 我是一個很喜歡發問，經常會思考為什麼的人。
        p 當發現有問題時，會馬上著手找答案。
        p 而我認為做設計是需要勇於發問，並且接受評價才會有所進步。
        p 我也很喜歡完成一個作品或設計時的成就感，在每一個設計的步驟我都會很認真參與，享受過程

      .person_word7 Travel Experience
      .world_map
      .image_fb
      .image_ig

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    script(src="./aboutus.js", type='module')
